<div class = "container">
  <div class="wrapper">
    <%= form_tag  user_path(session[:token]),method: 'put'  do %>
        <h3 class="form-signin-heading">Editar usuario</h3>
        <hr class="colorgraph"><br>

        <input type="text" class="form-control" name="name" placeholder="nombre" required="" value="<%=@body["name"]%>" />
        <input type="text" class="form-control" name="surname" placeholder="apellido" required="" value="<%=@body["surname"]%>"/>
        <input type="text" class="form-control" name="email" placeholder="email" required="" value="<%=@body["email"]%>"/>
        <input type="text" class="form-control" name="phone" placeholder="telefono" required="" value="<%=@body["phone"]%>"/>
        <input type="text" class="form-control" name="password" placeholder="contraseña, puedes dejarla en blanco y no cambiará"/>

        <button class="btn btn-lg btn-primary btn-block"  name="Submit" value="Login" type="Submit">ACEPTAR</button>
    <%end%>
  </div>
</div>