<div class = "container">
  <div class="wrapper">
    <%= form_tag sessions_path do %>
      <h3 class="form-signin-heading">Welcome Back! Please Sign In</h3>
      <hr class="colorgraph"><br>

      <input type="text" class="form-control" name="email" placeholder="email" required="" autofocus="" />
      <input type="password" class="form-control" name="password" placeholder="password" required=""/>

      <button class="btn btn-lg btn-primary btn-block"  name="Submit" value="Login" type="Submit">Login</button>
    <%end%>
  </div>
</div>
