<!DOCTYPE html>
<html>
  <head>
    <title>ClientContacts</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  Usuario identificado (token): <%=session[:token]%><br/>
  <% if alert.present? %>
      <div class="alert alert-danger alert-dismissable">
        <i class="fa fa-warning"></i>
        <strong>Atención: </strong>
        <%= alert.html_safe %>
        <button class="close" aria-hidden="true" data-dismiss="alert" type="button">×</button>
      </div>
  <% end %>
  <% if notice.present? %>
      <div class="alert alert-success alert-dismissable">
        <i class="fa fa-thumbs-o-up"></i>
        <strong>Noticia: </strong>
        <%= notice.html_safe %>
        <button class="close" aria-hidden="true" data-dismiss="alert" type="button">×</button>
      </div>
  <% end %>
  <hr/>
  <div class="alert alert-info" role="alert">
    Las acciones tachadas están sin construir en el cliente pero activas en api por falta de tiempo o por ser repetitivas
  </div>
  <table class="table table-bordered table-striped table-hover table-condensed table-responsive">
    <tbody>
    <tr>
      <td>
        <%= link_to "Conseguir token",  new_session_path %>
      </td>
      <td>
        <%= link_to "<strike>Registrar nuevo usuario</strike>".html_safe, "#"%>
      </td>
      <td>
        <%= link_to "Todos mis contactos",  contacts_path %>
      </td>
      <td>
        <%= link_to "<strike>Añadir nuevo contacto</strike>".html_safe, "#"%>
      </td>
    </tr>
    <tr>
      <td>
        <%= link_to "<strike>Buscar contacto por nombre y/o apellido (puedes dejar name o surname vacios)</strike>".html_safe, "#"%>
      </td>
      <td>
        <%= link_to "<strike>Mostrar un contacto (y sus teléfonos)</strike>".html_safe, "#"%>
      </td>
      <td>

      </td>
      <td>
        <%= link_to "<strike>Eliminar usuario (a si mismo)</strike>".html_safe, '#'%>
      </td>
    </tr>
    <tr>
      <td>
        <%= link_to "Modificar usuario", session[:token].present?? edit_user_path(session[:token]): "#" %>
      </td>
      <td>
        <%= link_to 'Cerrar sesión en el cliente (aquí)',  session_path("this"),  method: :delete %>
      </td>
      <td>

      </td>
      <td>

      </td>
    </tr>
    </tbody>
  </table>
  <br/>
    <%= yield %>
  </body>
</html>
