<table class="table table-bordered table-striped table-hover table-condensed table-responsive">
  <thead>
  <tr>
    <th>NOMBRE</th>
    <th>APELLIDOS</th>
    <th>TLF PRINCIPAL</th>
    <th>EMAIL</th>
    <th>TIPO</th>
    <th>AVATAR</th>
    <th>OTROS TELF</th>
    <th>ACCIONES</th>
  </tr>
  </thead>
  <tbody>
  <% for item in @body %>
      <tr>
        <td><%= item["name"].to_s %></td>
        <td><%= item["surname"].to_s %></td>
        <td><%= item["phone"].to_s %></td>
        <td><%= item["email"].to_s %></td>
        <td><%= item["type"].to_s %></td>
        <td><%= image_tag(@api_url+item["avatar"].to_s) %></td>
        <td>
          <% for phone in item["phones"] %>
              <%= phone["number"].to_s %><br/> <%= link_to 'Eliminar teléfono', contact_delete_phone_path(item["id"],phone["id"]),  method: :delete %><br/><br/><br/><br/>
          <% end %>
        </td>
        <td>

          <%= link_to 'Eliminar contacto',  contact_path(item["id"]),  method: :delete %><br/><br/>
          <button type="button" class="" data-toggle="modal" data-target="#editContact<%= item["id"] %>">
            Editar contacto
          </button>
          <br/><br/>

          <button type="button" class="" data-toggle="modal" data-target="#newPhone<%= item["id"] %>">
            Añadir tlf
          </button><br/><br/>
        </td>
      </tr>

      <!-- Modal editar contacto-->
      <div class="modal fade" id="editContact<%= item["id"] %>" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span></button>
              <h4 class="modal-title" id="myModalLabel">Editar(<%= item["id"] %>): <%= item["name"].to_s %> <%= item["surname"].to_s %></h4>
            </div>
            <div class="modal-body">
              <%= form_for(:contact, url:  contact_path(item["id"]), method: 'put', class: '') do |f| %>
                  <div class="form-group text-left">
                    <%= f.label :name  %><br>
                    <%= f.text_field :name, class: "form-control", placeholder: 'Nombre', value: item["name"] %>
                  </div>
                  <div class="form-group text-left">
                    <%= f.label :surname  %><br>
                    <%= f.text_field :surname, class: "form-control", placeholder: 'Apellidos', value: item["surname"] %>
                  </div>
                  <div class="form-group text-left">
                    <%= f.label :phone  %><br>
                    <%= f.text_field :phone, class: "form-control", placeholder: 'Tlf Principal', value: item["phone"] %>
                  </div>
                  <div class="form-group text-left">
                    <%= f.label :email  %><br>
                    <%= f.text_field :email, class: "form-control", placeholder: 'Nombre', value: item["email"] %>
                  </div>
                  <div class="form-group text-left">
                    <%= f.label :avatar  %><br>
                    <%= f.file_field :avatar %>
                  </div>
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal"><%= t('common.cancel') %></button>
                    <%= f.submit  'Aceptar' ,class: " btn btn-primary"%>
                  </div>
              <% end %>
            </div>
          </div>
        </div>
      </div>


      <!-- Modal editar contacto-->
      <div class="modal fade" id="newPhone<%= item["id"] %>" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span></button>
              <h4 class="modal-title" id="myModalLabel">Nuevo Telf para (<%= item["id"] %>): <%= item["name"].to_s %> <%= item["surname"].to_s %></h4>
            </div>
            <div class="modal-body">
              <%= form_for(:phone, url: contact_create_phone_path(item["id"],phone["id"]), class: '') do |f| %>
                  <div class="form-group text-left">
                    <%= f.label :number  %><br>
                    <%= f.text_field :number, class: "form-control", placeholder: 'número' %>
                  </div>
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal"><%= t('common.cancel') %></button>
                    <%= f.submit  'Aceptar' ,class: " btn btn-primary"%>
                  </div>
              <% end %>
              </div>
        </div>
      </div>
      </div>




  <% end %>
  </tbody>
</table>
<br/><br/><br/>
<%= @body.inspect %>
